[Unit]
Description=My Webapp Java REST Service
[Service]
User=vagrant
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/home/vagrant

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/bin/bash /home/vagrant/my-webapp-new-sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
